# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
cafe.mp3 filter=lfs diff=lfs merge=lfs -text
cafe.mp3.import filter=lfs diff=lfs merge=lfs -text
house.mp3 filter=lfs diff=lfs merge=lfs -text
house.mp3.import filter=lfs diff=lfs merge=lfs -text
school[[:space:]]hallway.mp3 filter=lfs diff=lfs merge=lfs -text
school[[:space:]]hallway.mp3.import filter=lfs diff=lfs merge=lfs -text
